@import 'https://fonts.googleapis.com/css?family=Roboto';
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*color: #000000;*/
}
body {
    background-color: #2196F3;
}
header {
    width: 100%;
    background-color: #3E50B4;
    /*background-color: #1976D2*/

    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 25px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    /*margin-top: 10px;
	margin-bottom: 10px;*/

    z-index: 100;
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header-Titre.svg);
    background-size: auto 80%;
    background-position: 10%;
    background-repeat: no-repeat;
    /*padding-bottom: 5%;*/
    /*Oui, 100 de z-index cause why not?*/
}
.preamble h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.explanation h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.participation h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header3.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.benefits h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header4.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.requirements h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header5.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.design-selection h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header6.svg);
    background-size: 350px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
.design-archives h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header7.svg);
    background-size: 350px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}
.zen-resources h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header8.svg);
    background-size: 350px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}
/*.intro {
	background-color: #2196F3;
}*/

.summary {
    margin: auto;
    /*margin-top: 25px;*/

    margin-top: 130px;
    background-color: white;
    width: 350px;
    padding: 12px;
    /*float: left;*/
    /*display: flex;*/

    display: inline-block;
    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
}
.preamble {
    margin: auto;
    margin-top: 25px;
    background-color: white;
    width: 350px;
    padding: 12px;
    /*float: left;*/
    /*display: flex;*/

    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
}
.explanation,
.participation,
.benefits,
.requirements {
    margin: auto;
    margin-top: 25px;
    background-color: white;
    width: 350px;
    padding: 12px;
    /*float: left;*/
    /*display: flex;*/

    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
}
.sidebar {
    margin: auto;
    margin-top: 25px;
    background-color: white;
    width: 350px;
    padding: 12px;
    /*float: left;*/
    /*display: flex;*/

    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}
footer {
    margin: auto;
    margin-top: 25px;
    background-color: white;
    width: 350px;
    padding: 12px;
    /*float: left;*/
    /*display: flex;*/

    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
}
.intro {
    display: flex;
    flex-direction: column;
    ;
    flex-wrap: nowrap;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.summary:hover,
.preamble:hover,
.explanation:hover,
.participation:hover,
.benefits:hover,
.requirements:hover {
    transform: scale(1.05);
    position: relative;
    z-index: 1
}
li {
    list-style: none;
    display: inline-block;
}
.extra1,
.extra2,
.extra3,
.extra4,
.extra5 {
    width: 20%;
    float: left;
    height: 200px;
    /*Leger test pour faire apparaitre les trucs. Jvais rajouter des images n shit*/

    background-color: rgb(69, 203, 179);
    /*margin-bottom: 200px;*/
}
.extra1 {
    background-image: url(../images/materialdesign.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.extra2 {
    background-image: url(../images/materialdesign2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.extra3 {
    background-image: url(../images/materialdesign3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.extra4 {
    background-image: url(../images/Linux1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.extra5 {
    background-image: url(../images/Penguin1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.extra1:hover,
.extra2:hover,
.extra3:hover,
.extra4:hover,
.extra5:hover {
    transform: scale(2);
    position: relative;
}
.extra1:hover {
    left: 80px;
}
.extra4:hover {
    right: 20px;
}
.extra5:hover {
    right: 90px;
}
ul {
    text-align: center;
}
ul li {
    display: inline-block;
    margin: auto;
}
/*Pour ecrans de 820 a 1135 px*/

@media (min-width: 820px) and (max-width: 1135px) {
    .main,
    .intro,
    footer,
    .page-wrapper {
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
    }
    footer {
        align-self: flex-start;
        margin-left: auto;
    }
    .preamble {
        margin-top: 130px;
    }
    .extra1:hover {
        left: 120px;
    }
    .extra4:hover {
        right: 50px;
    }
    .extra5:hover {
        right: 120px;
    }
}
@media (min-width: 1136px) {
    .intro div {
        width: 40%;
        margin-top: 120px;
    }
    .intro {
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: space-between;
        ;
    }
    .main div {
        width: 22%;
        justify-content: space-between;
        ;
    }
    .main {
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
        flex: 1;
        flex-grow: 1;
    }
    footer {
        float: right;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 20%;
        z-index: 99;
    }
    .preamble h3 {
        padding-bottom: 10%;
    }
    .sidebar {
        width: 70%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 99;
        margin-bottom: 0px;
    }
    ul {
        float: right;
        clear: left;
        display: inline;
    }
    li {
        float: right;
        clear: left;
        margin-bottom: 0px;
        display: inline-block;
        margin-left: 10px;
    }
    /*.design-selection h3 {
	background-size: 9.8%;
	padding-bottom: 80px;
}*/

    .design-selection h3 {
        float: left;
        clear: left;
    }
    .design-archives h3 {
        float: left;
        clear: left;
    }
    .zen-resources h3 {
        float: left;
        clear: left;
    }
    .requirements {
        margin-bottom: 100px;
    }
    li:hover {
        transform: skewX(-15deg);
    }
    .extra1,
    .extra2,
    .extra3,
    .extra4,
    .extra5 {
        margin-bottom: 350px;
    }
    .extra1:hover,
    .extra2:hover,
    .extra3:hover,
    .extra4:hover,
    .extra5:hover {
        margin-bottom: 0px;
    }
    .extra1:hover {
        left: 10%;
    }
    .extra4:hover {
        right: 5%;
    }
    .extra5:hover {
        right: 10%;
    }
}
