@import 'https://fonts.googleapis.com/css?family=Roboto';
/* Font Roboto que j'aime bien */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* Couleur pastel bleu, dans le style recommandé par Google */

body {
    background-color: #2196F3;
}
/* Position du header - la barre du haut a position fixed */

header {
    width: 100%;
    background-color: #3E50B4;
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 25px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 100;
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/header-Titre.svg);
    background-size: auto 80%;
    background-position: 10%;
    background-repeat: no-repeat;
    /*Oui, 100 de z-index cause why not?*/
}
/*    ICI je camoufle les h3 et les remplace avec les images que
      j'ai créées */

.preamble h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.design-selection h3,
.design-archives h3,
.zen-resources h3 {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
    background-size: 350px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}
.preamble h3 {
    background-image: url(../images/header1.svg);
}
.explanation h3 {
    background-image: url(../images/header2.svg);
}
.participation h3 {
    background-image: url(../images/header3.svg);
}
.benefits h3 {
    background-image: url(../images/header4.svg);
}
.requirements h3 {
    background-image: url(../images/header5.svg);
}
.design-selection h3 {
    background-image: url(../images/header6.svg);
}
.design-archives h3 {
    background-image: url(../images/header7.svg);
}
.zen-resources h3 {
    background-image: url(../images/header8.svg);
}
/* Ici je set up la premiere 'carte' du Material Design */
/* A partir d'ici, presque tous les elements possèdent un box-shadow
   Pour le theme Material */

.summary {
    margin: auto;
    margin-top: 130px;
    background-color: white;
    width: 350px;
    padding: 12px;
    display: inline-block;
    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
}
/* Ici, je donne le style de cartes au reste du document*/

.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.sidebar,
footer {
    margin: auto;
    margin-top: 25px;
    background-color: white;
    width: 350px;
    padding: 12px;
    box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
}
.sidebar {
    margin-bottom: 40px;
}
/* C'est avec le display:flex que j'arrange mes colonnes */

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* Petit bout de code pour le grandissement sur le hover */

.summary:hover,
.preamble:hover,
.explanation:hover,
.participation:hover,
.benefits:hover,
.requirements:hover {
    transform: scale(1.05);
    position: relative;
    z-index: 1
}
li {
    list-style: none;
    display: inline-block;
}
/* J'ai ajouté des images sur les extra car je trouvais qu'il manquait d'éléments
   graphiques à mon site. */

.extra1,
.extra2,
.extra3,
.extra4,
.extra5 {
    width: 20%;
    float: left;
    height: 200px;
    background-color: rgb(69, 203, 179);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.extra1 {
    background-image: url(../images/materialdesign.png);
}
.extra2 {
    background-image: url(../images/materialdesign2.png);
}
.extra3 {
    background-image: url(../images/materialdesign3.png);
}
.extra4 {
    background-image: url(../images/Linux1.png);
}
.extra5 {
    background-image: url(../images/Penguin1.jpg);
}
/* Bout de code pour avoir le grandissement on hover des images*/

.extra1:hover,
.extra2:hover,
.extra3:hover,
.extra4:hover,
.extra5:hover {
    transform: scale(2);
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}
.extra1:hover {
    left: 80px;
}
.extra4:hover {
    right: 20px;
}
.extra5:hover {
    right: 90px;
}
/* Centrer les listes*/

ul {
    text-align: center;
}
ul li {
    display: block;
    margin: auto;
}
/* Change les propriétés des liens */

a:link {
    color: green;
}
a:visited {
    color: magenta;
}
a:hover {
    color: red;
}
/* Corail, pourquoi pas? Anyway, c'est pas comme si j'avais
   du goût côté couleur... */

a:active {
    color: coral;
}
/*Pour ecrans de 820 a 1135 px - 2 colonnes*/

@media (min-width: 820px) and (max-width: 1135px) {
    /* Bout de code pour avoir plusieurs row alignées */

    .main,
    .intro,
    footer,
    .page-wrapper {
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
    }
    footer {
        align-self: flex-start;
        margin-left: auto;
    }
    .preamble {
        margin-top: 130px;
    }
    /* Je bouge un peu les images quand elles sont upscale pour qu'elles
       ne dépassent pas de la page */

    .extra1:hover {
        left: 120px;
    }
    .extra4:hover {
        right: 50px;
    }
    .extra5:hover {
        right: 120px;
    }
}
/* Pour haute résolution: 1136px et plus - 2 et 4 colonnes*/

@media (min-width: 1136px) {
    /* On change la grosseur des divs pour prendre avantage des
     écrans plus larges */

    .intro div {
        width: 40%;
        margin-top: 120px;
    }
    .intro {
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    /* Justify content pour que les cartes soit alignées */

    .main div {
        width: 22%;
        justify-content: space-between;
    }
    /* Flex, pour avoir plusieurs colonnes */

    .main {
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
        flex: 1;
        flex-grow: 1;
    }
    /* Change le footer pour qu'il soit fixed */

    footer {
        float: right;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 20%;
        z-index: 99;
    }
    .preamble h3 {
        padding-bottom: 10%;
    }
    /* Sidebar qui en fait devient une espèce de nav bar fixed */

    .sidebar {
        width: 70%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 99;
        margin-bottom: 0px;
    }
    /* Arrange le comportement des listes, display plusieurs sur une ligne*/

    ul {
        float: right;
        display: inline;
    }
    ul li {
        list-style: square;
        float: right;
        display: inline-block;
        margin-left: 10px;
    }
    .design-selection h3 {
        float: left;
        clear: left;
    }
    .design-archives h3 {
        float: left;
        clear: left;
    }
    .zen-resources h3 {
        float: left;
        clear: left;
    }
    .requirements {
        margin-bottom: 100px;
    }
    /* Petit effet sur les li */

    li:hover {
        transform: skewX(-15deg);
    }
    /* Margin-bottom pour faire place au sidebar a position fixed */

    .extra1,
    .extra2,
    .extra3,
    .extra4,
    .extra5 {
        margin-bottom: 350px;
    }
    /* Margin nulle pour éviter la page de sagrandir vers le bas
       quand on hover et elle s'agrandit */

    .extra1:hover,
    .extra2:hover,
    .extra3:hover,
    .extra4:hover,
    .extra5:hover {
        margin-bottom: 0px;
    }
    /* Bouge un peu les images pour eviter d'en perdre car elles
       dépassent de la fenêtre */

    .extra1:hover {
        left: 10%;
    }
    .extra4:hover {
        right: 5%;
    }
    .extra5:hover {
        right: 10%;
    }
}
